* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
	background-size: cover;
	position: relative;
}

.sfondo-logo {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 50%;
	padding: 50px;
    position:relative;
}

.logo {
    background-image: url(../img/logo.svg);
    position: absolute;
    background-repeat: no-repeat;
    height: 50%;
    width: 20%;
    left: 10px;
    bottom: 10px;
}

main {
    margin-left: 10px;
}

/* titolo e sottotitolo */
h1 {
  margin-top: 20px;
}

.sottotit {
    color: gray;
    margin-bottom: 20px;
}

.author {
    color: rgb(0, 137, 250);
}

/* paragrafo */
.yellow {
    background-color: yellow;
}

.margin-p {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* lista puntata */
ul {
    margin-left: 10px;
    margin-bottom: 30px;
}
